html, body{
  margin: 0;  
  font-family: helvetica, arial, sans-serif;
  background: #677179;
}

#connexion{
    text-align: center;
    background: #22427C;
    width: 500px;
    height: 420px;
    margin: auto;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

#connexion > button {
    padding: 10px;
    font-size: 18px;
    background: #007FFF;
    color: white;
    border: none;
}

#connexion > button:hover {
    background: #2C75FF;
    cursor: pointer;
}

#connexion > input {
    margin: 20px;
    padding: 5px;
    font-size: 16px;
    width: 300px;
}

#connexion > div {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 45px;
    color: white;
}

#connexion > span{
    color: white;
    font-style: italic;
}

#header{
    background: #efefef;
    border-bottom: solid 1px #ccc;
    height: 40px;
    width: 100%;
    font-size: 24px;
    text-align: center;
    color: #677179;
    line-height: 40px;
}

#plus-button{
    height: 40px;
    width: 40px;
    background: white;
    float: right;
    font-size: 40px;
    color: #677179;
    text-align: center;
    line-height: 40px;
    z-index: 2;
}

